body {
    background-color: brown;
}
h1 {
    background-color: rgb(66, 120, 121);
    color: black;
    text-align: center;
}
p {
    color: gray;
}
h3, h4 {
    color: darkcyan;
    text-align: right;
}
img {
    float: left;
    height: 120px;
    width: 120pxs;
    padding: 20pxs;
}